<template>
    <card title="Carousel edit">
        <carousel></carousel>
    </card>
</template>

<script>
    import Carousel from '~/components/modules/Carousel';

    export default {
        components: {
            Carousel
        },

        data: () => ({

        }),

        created () {

        },

        mounted(){

        },

        methods: {

        }
    }
</script>
