<template>

    <div>
        <transition name="fade" mode="out-in">
            <card :title="$t('carriers')">
                <router-view/>
            </card>
        </transition>
    </div>

</template>

<script>
    export default {
        middleware: 'auth',
        methods:{
            goTo(hrefObj){
                this.$router.push(hrefObj)
            }
        }
    }
</script>

