<template>
    <div>
        <router-link :to="{ name: 'admin.carriers.new' }" class="btn btn-primary" active-class="active">
            <fa icon="plus" fixed-width/>
            New carrier
        </router-link>

        <v-server-table :url="url" :columns="columns" :options="options">
             <span slot="status" slot-scope="props">
                   <toggle-switch
                           :value="!props.row.deleted_at"
                           :sync="true"
                           @change="updateStatus(props.row.id)"
                   ></toggle-switch>
            </span>
        </v-server-table>
    </div>
</template>

<script>
    import ToggleSwitch from '~/components/ToggleSwitch';

    export default {
        components: {
            ToggleSwitch,
        },

        computed: {
            url()
            {
                return '/api/carrier';
            }
        },

        data()
        {
            return {
                columns: ['id', 'name', 'description', 'price', 'time', 'status'],
                options: {
                    // see the options API
                    orderBy: { ascending:true },
                    // filterByColumn: true,
                }
            }
        },

        mounted()
        {

        },

        methods: {
            updateStatus(id){
                axios.delete('/api/carrier/' + id);
            }
        }
    }
</script>
