<template>
    <div>
        <router-link :to="{ name: 'admin.carriers.list' }" class="btn btn-primary" active-class="active">
            <fa icon="arrow-left" fixed-width/>
            Back
        </router-link>

        <form @submit.prevent="saveCarrier" @keydown="form.onKeydown($event)">
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('carrier_name') }}</label>
                <div class="col-md-7">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('carrier_description') }}</label>
                <div class="col-md-7">
                    <input v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" type="text" name="description">
                    <has-error :form="form" field="description"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('delivery_time') }}</label>
                <div class="col-md-7">
                    <input v-model="form.time" :class="{ 'is-invalid': form.errors.has('time') }" class="form-control" type="text" name="time">
                    <has-error :form="form" field="time"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('free_delivery') }}</label>
                <div class="col-md-7">
                    <toggle-switch
                            :value="freeDelivery"
                            :sync="true"
                            @change="changeFreeDelivery"
                    ></toggle-switch>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('price') }}</label>
                <div class="col-md-1">
                    <input v-model="form.price" :class="{ 'is-invalid': form.errors.has('price') }" class="form-control" type="text" name="price" :disabled="freeDelivery">
                    <has-error :form="form" field="price"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-7 offset-md-3 d-flex">
                    <!-- Submit Button -->
                    <v-button :loading="form.busy">
                        {{ $t('save_carrier') }}
                    </v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Form from 'vform'
    import ToggleSwitch from '~/components/ToggleSwitch';


    export default {
        components: {
            ToggleSwitch,
        },

        data: () => ({
            form: new Form({
                name: '',
                description: '',
                price: 0,
                time: '',
            }),
            freeDelivery: false
        }),

        methods: {
            async saveCarrier () {
                // Submit the form to save product.
                let data = await this.form.post('/api/carrier')
                let that = this;

                if(data.status == 200){
                    if(data.data){
                        swal("Carrier saved!", "", "success").then(function () {
                            // Redirect home.
                            that.$router.push({ name: 'admin.carriers.list' })
                        });
                    }else{
                        swal("There was an error!", "", "error");
                    }
                }
            },

            changeFreeDelivery(){
                this.freeDelivery = !this.freeDelivery;
                if(this.freeDelivery){
                    this.form.price = 0;
                }
            }
        }
    }
</script>
