<template>
    <div>
        <v-server-table :url="url" :columns="columns" :options="options">
<!--            <span slot="newsl" slot-scope="props">-->
<!--                {{ props.row.newsletter == 1 ? 'YES' : 'NO' }}-->
<!--            </span>-->
        </v-server-table>
    </div>
</template>

<script>

    export default {

        data: () => ({
            columns: ['id', 'id_customer', 'firstname', 'lastname', 'address1', 'country', 'state', 'city'],
            options: {
                filterByColumn: true
            }
        }),

        created()
        {

        },

        computed: {
            url()
            {
                return '/api/address';
            }
        },

        methods: {}
    }
</script>
