<template>
    <div>
        <router-link :to="{ name: 'admin.products.list' }" class="btn btn-primary" active-class="active">
            <fa icon="arrow-left" fixed-width/>
            Back
        </router-link>

        <form @submit.prevent="saveAddress" @keydown="form.onKeydown($event)">
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('product_name') }}</label>
                <div class="col-md-7">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('product_reference') }}</label>
                <div class="col-md-7">
                    <input v-model="form.reference" :class="{ 'is-invalid': form.errors.has('reference') }" class="form-control" type="text" name="reference">
                    <has-error :form="form" field="reference"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('product_manufacturer') }}</label>
                <div class="col-md-7">
                    <b-form-select v-model="form.id_manufacturer" :options="optionsManufacturer" name="id_manufacturer"></b-form-select>
                    <has-error :form="form" field="id_manufacturer"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('product_category') }}</label>
                <div class="col-md-7">
                    <treeselect v-model="form.id_category_default" :multiple="true" :options="optionsCategories" name="id_category_default"/>
                    <has-error :form="form" field="id_category_default"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('virtual_product') }}</label>
                <div class="col-md-7">
                    <toggle-switch
                            :value="form.is_virtual"
                            :sync="true"
                            @change="changeVirtualStatus"
                    ></toggle-switch>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('available_for_order') }}</label>
                <div class="col-md-7">
                    <toggle-switch
                            :value="form.available_for_order"
                            :sync="true"
                            @change="changeAvailableStatus"
                    ></toggle-switch>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('unity') }}</label>
                <div class="col-md-1">
                    <input v-model="form.unity" :class="{ 'is-invalid': form.errors.has('unity') }" class="form-control" type="text" name="unity">
                    <has-error :form="form" field="unity"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('quantity') }}</label>
                <div class="col-md-1">
                    <input v-model="form.quantity" :class="{ 'is-invalid': form.errors.has('quantity') }" class="form-control" type="text" name="quantity">
                    <has-error :form="form" field="quantity"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('price') }}</label>
                <div class="col-md-1">
                    <input v-model="form.price" :class="{ 'is-invalid': form.errors.has('price') }" class="form-control" type="text" name="price">
                    <has-error :form="form" field="price"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('add_images') }}</label>
                <div class="col-md-3">
                    <file-upload
                            folder="img/product"
                            type="product"
                            @uploadSuccess="addNewImage"
                            :autoUpload="true"
                    ></file-upload>
                </div>
                <div class="col-md-6">
                    <template v-for="img in form.productImages">
                        <img :src="img.path"
                             width="200px"
                             height="100px">
                    </template>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-7 offset-md-3 d-flex">
                    <!-- Submit Button -->
                    <v-button :loading="form.busy">
                        {{ $t('save_product') }}
                    </v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Form from 'vform'
    import Treeselect from '@riophae/vue-treeselect'
    import ToggleSwitch from '~/components/ToggleSwitch';
    import FileUpload from '~/components/FileUpload';

    import '@riophae/vue-treeselect/dist/vue-treeselect.css'


    export default {
        components: {
            Treeselect,
            ToggleSwitch,
            FileUpload
        },

        data: () => ({
            form: new Form({
                name: '',
                reference: '',
                id_manufacturer: null,
                id_category_default: null,
                tax: 0,
                is_virtual: false,
                out_of_stock: 0,
                available_for_order: true,
                unity: 1,
                price: 0,
                quantity: 0,
                productImages: {}
            }),
            optionsManufacturer: [
                { value: null, text: 'Select a manufacturer' },
            ],
            optionsCategories:[],
        }),

        methods: {
            async saveAddress () {
                // Submit the form to save product.
                let data = await this.form.post('/api/saveAddress')
                let that = this;

                if(data.status == 200){
                    if(data.data){
                        swal("Product saved!", "", "success").then(function () {
                            // Redirect home.
                            that.$router.push({ name: 'admin.products.list' })
                        });
                    }else{
                        swal("There was an error!", "", "error");
                    }
                }
            },

            addNewImage(img){
                $vue.set(this.form.productImages, img.id, img);
            },

            changeVirtualStatus(){
                this.form.is_virtual = !this.form.is_virtual;
            },

            changeAvailableStatus(){
                this.form.available_for_order = !this.form.available_for_order;
            }
        }
    }
</script>
