<template>
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12">
                <h4>There are {{rows}} products in this category</h4>
            </div>
        </div>
        <div class="row" id="prod-list">
            <product-card
                    v-for="product in products_cat"
                    v-bind:key="product.id"
                    :product="product"
            ></product-card>
        </div>
        <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="prod-list"
                @change="getProducts($event)"
                class="mt-4"
        ></b-pagination>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import ProductCard from "../../../components/ProductCard";

    export default {
        components: {ProductCard},
        data: () => ({
            products_cat: [],
            currentPage: 1,
            perPage: 9,
            rows: 0
        }),

        computed: {
            ...mapGetters('cart', ['products']),
            ...mapState('auth', ['user']),
        },

        created()
        {

        },

        mounted()
        {
            this.getProducts();
        },

        methods: {
            getProducts(curr_page)
            {
                let id_cat = this.$route.params.id;
                let that = this;
                axios.get('/api/getProducts', {
                    params:
                        {
                            query: {
                                'id_category_default': id_cat
                            },
                            page: curr_page,
                            limit: this.perPage
                        }
                })
                    .then(function (response) {
                        that.products_cat = response.data.data;
                        that.rows = response.data.count;
                    });
            },

            addToCart(product)
            {
                let cart = this.products;
                let user = this.user;

                this.$store.dispatch('cart/addToCart', {
                    product: product,
                    quantity: 1
                });

                // // Update db cart
                axios.post('/api/cart', {
                    cart: cart,
                    user: user
                })
                    .then(response => {
                        if (response.data) {
                            swal(
                                'Added to cart!',
                                '',
                                'success'
                            );
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        }
    }
</script>

