<template>
    <div>
<!--        <router-link :to="{ name: 'admin.products.new' }" class="btn btn-primary" active-class="active">-->
<!--            <fa icon="plus" fixed-width/>-->
<!--            New product-->
<!--        </router-link>-->

        <v-server-table :url="url" :columns="columns" :options="options">
            <span slot="newsl" slot-scope="props">
                {{ props.row.newsletter == 1 ? 'YES' : 'NO' }}
            </span>
        </v-server-table>
    </div>
</template>

<script>

    export default {

        data: () => ({
            columns: ['id', 'firstname', 'lastname', 'email', 'newsl'],
            options: {
                // see the options API
                // orderBy: { ascending:false }
                filterByColumn: true,
                filterable: ['id', 'firstname', 'lastname', 'email']
            }
        }),

        created()
        {

        },

        computed: {
            url()
            {
                return '/api/getCustomers';
            }
        },

        methods: {}
    }
</script>
