<template>
    <button
            class="btn btn-primary mb-2 mt-2"
            @click="goBack"
    >
        {{text}}
    </button>
</template>

<script>
    export default {
        props: {
            text: {type: String, default: ''}
        },

        methods:{
            goBack(){
                this.$router.back();
            }
        }
    }
</script>
