<template>
    <ul class="list-group">
        <li class="list-group-item">
            <div>{{nbProducts}}
                <template v-if="nbProducts > 1">
                    items
                </template>
                <template v-else>
                    item
                </template>
                <span class="float-right">{{cart.total_price}} {{$settings.localization.currency}}</span>
            </div>
            <div>
                Shipping
                <span class="float-right">{{totalShipping}} {{$settings.localization.currency}}</span>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                Total(tax excl.)
                <span class="float-right">{{total}} {{$settings.localization.currency}}</span>
            </div>
            <div>
                Taxes ({{$settings.localization.tax}}%)
                <span class="float-right">{{tax(cart.total_price + totalShipping)}} {{$settings.localization.currency}}</span>
            </div>
        </li>
        <li v-if="showCheckoutBtn" class="list-group-item text-center">
            <router-link :to="{ name: 'cart.checkout' }" class="btn btn-info btn-lg" active-class="active">
                <fa icon="shopping-cart" fixed-width/>
                {{$t('proceed_to_checkout')}}
            </router-link>
        </li>
    </ul>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        name: 'CartTotal',

        props: {
            showCheckoutBtn:{
                type: Boolean,
                default: false
            }
        },

        data: () => ({

        }),

        watch: {

        },

        computed: {
            ...mapState(['cart']),
            nbProducts: function () {
                return this.cart.products.length;
            },
            totalShipping: function(){
                return 12;
            },
            total(){

                return (this.totalShipping + parseInt(this.cart.total_price)).toFixed(2);
            }
        },

        methods: {
            tax: function (total) {
                return ((parseInt(this.$settings.localization.tax) / 100) * total).toFixed(2);
            },
        }
    }
</script>
