<template>
    <div class="large-12 medium-12 small-12 cell">
        <label class="custom-file-upload">Select file to upload
            <input
                    type="file"
                    id="file"
                    ref="file"
                    @change="handleFileUpload()"/>
        </label>
        <button
                @click="submitFile()"
                class="btn btn-lg btn-success"
                type="button"
                v-if="!autoUpload"
        >
            <fa icon="save" size="2x" fixed-width/>
        </button>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                file: null,
                fileLocation: this.folder,
                fileType: this.type,
            }
        },

        props: {
            folder: String,
            type: String,
            autoUpload: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            submitFile(){
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('folder', this.fileLocation);
                formData.append('type', this.fileType);

                let that = this;
                if(this.file != null) {
                    axios.post('/api/upload',
                        formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(function (response) {
                        if (response.status == 200) {
                            swal("File uploaded!", "", "success");
                            that.$emit('uploadSuccess', response.data.data)
                        } else {
                            swal("File upload error!", "", "error");
                        }
                    })
                        .catch(function () {
                            swal("File upload error!", "", "error");
                        });
                }else{
                    swal("Choose a file to upload!", "", "error");
                }
            },

            handleFileUpload(){
                this.file = this.$refs.file.files[0];

                if(this.autoUpload) {
                    this.submitFile();
                }
            }
        }
    }
</script>

<style scoped>
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 2px solid #ccc;
        display: inline-block;
        padding: 12px 12px;
        cursor: pointer;
    }
</style>