<template>
    <footer class="py-3 bg-white mt-4">
        <div class="container">
            Footerr
        </div>
    </footer>
</template>

<script>

    export default {
        components: {},

        data: () => ({
            // appName: window.config.appName
        }),

        computed: {},

        methods: {}
    }
</script>

<style scoped>
    .footer{

    }
</style>
