<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false">
                <span class="navbar-toggler-icon"/>
            </button>
            <div id="navbarToggler" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <locale-dropdown/>
                    <!-- Authenticated -->
                    <li v-if="auth.user" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark"
                           href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img :src="auth.user.photo_url" class="rounded-circle profile-photo mr-1">
                            {{ auth.user.name }}
                        </a>
                        <div class="dropdown-menu">
                            <router-link :to="{ name: 'addresses.list' }" class="dropdown-item pl-3">
                                <fa icon="address-book" fixed-width/>
                                {{ $t('addresses') }}
                            </router-link>

                            <a href="/admin" class="dropdown-item pl-3" v-if="isAdmin">
                                <fa icon="tachometer-alt" fixed-width/>
                                {{ $t('admin_dashboard') }}
                            </a>

                            <router-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3">
                                <fa icon="cog" fixed-width/>
                                {{ $t('settings') }}
                            </router-link>

                            <div class="dropdown-divider"/>
                            <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                                <fa icon="sign-out-alt" fixed-width/>
                                {{ $t('logout') }}
                            </a>
                        </div>
                    </li>
                    <!-- Guest -->
                    <template v-else>
                        <li class="nav-item">
                            <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                                <fa icon="user" fixed-width/>
                                {{ $t('login') }}
                            </router-link>
                        </li>
                    </template>
                    <li class="nav-item">
                        <router-link :to="{ name: 'cart.show' }" class="nav-link" active-class="active">
                            <fa icon="shopping-cart" fixed-width/>
                            {{ $t('Cart') }}
                            <span class="badge  badge-danger" v-if="cart.products.length">
                                {{cart.products.length}}
                            </span>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    import {mapGetters, mapState} from 'vuex'
    import LocaleDropdown from './LocaleDropdown'

    export default {
        components: {
            LocaleDropdown
        },

        data: () => ({
            // appName: window.config.appName
        }),

        computed: {
            ...mapGetters('auth', ['isAdmin']),
            ...mapGetters(['cart']),
            ...mapState(['auth', 'cart']),
        },

        methods: {
            async logout()
            {
                // Log out the user.
                await this.$store.dispatch('auth/logout')

                // Redirect to login.
                this.$router.push({name: 'login'})
            },
        }
    }
</script>

<style scoped>
    .profile-photo {
        width: 2rem;
        height: 2rem;
        margin: -.375rem 0;
    }

    nav {
        border-bottom: 2px solid #F1F1F1;
    }
</style>
