<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <router-link :to="{ name: 'home'}" class="navbar-brand">
                {{ $settings.localization.name }}
            </router-link>

            <template v-if="menuItems.length">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-for="item in menuItems">
                        <router-link :to="{ name: 'categories.list' , params: { id: item.id }}" class="nav-link">
                            {{ item.name }}
                        </router-link>
                    </li>
                </ul>
            </template>

            <div class="search-bar">
                <b-form-input v-model="searchVal" type="text" :placeholder="$t('Search our catalog')" />
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        mounted(){
            this.getRootCategories();
        },

        data: () => ({
            appName: '',
            menuItems: [],
            searchVal: '',
        }),

        methods:{
            getRootCategories(){
                let that = this;
                axios.get('/api/categories', {params:{query:{'id_parent': 0}}}).then(function (response) {
                    let cats = response.data.data;
                    for(let cat in cats){
                        let obj = {};
                        obj.name = cats[cat].name;
                        obj.id = cats[cat].id;
                        that.menuItems.push(obj);
                    }
                })
            }
        }
    }
</script>

<style scoped>
    nav{
        padding: 2em 0;
    }
</style>

