<template>
    <b-card
            class="address mt- m-1"
            tag="article"
    >
        <div class="row" style="text-align: center">
            <b-card-text class="cont">
                <router-link :to="{ name: 'products.show', params: {id: product.id} }">
                    <img :src="image(product.photos)">
                </router-link>

                <div class="middle">
                    <button
                            class="btn btn-info shopp"
                            @click="addToCart(product)"
                    >
                        <fa icon="shopping-cart" fixed-width/>
                    </button>
                </div>

                <h4>{{product.name}}</h4>
                <span>{{product.price}} {{$settings.localization.currency}}</span>
            </b-card-text>
        </div>
        <div class="row">
        </div>

    </b-card>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    export default {
        name: 'ProductCard',

        props: {
            product: {type: Object, default: {}}
        },

        computed: {
            ...mapState('auth', ['user']),
            ...mapGetters('cart', ['products']),
        },

        methods: {
            addToCart()
            {
                let cart = this.products;
                let user = this.user;
                let product = this.product;
                let that = this;

                this.$store.dispatch('cart/addToCart', {
                    product: product,
                    quantity: 1
                });

                // // Update db cart
                axios.post('/api/cart', {
                    cart: cart,
                    user: user
                })
                    .then(response => {
                        if (response.data) {
                            swal({
                                text: 'Added to cart!',
                                buttons: {
                                    cancel: "Continue shopping",
                                    confirm: "Go to shopping cart!",
                                }
                            }).then(function (result) {
                                if (result) {
                                    that.$router.push({name: 'cart.show'})
                                }
                            });
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            image(images)
            {
                if (images.length) {
                    return images[0].path;
                } else {
                    return this.$settings.localization.default_product_image;
                }
            },
        }
    }
</script>


<style scoped lang="scss">
    .card {
        display: inline-flex;
        max-width: 280px;
        width: 22%;
    }

    img {
        width: 100%;
        height: 200px;
    }

    .card-text{
        width: 100%;
    }

    .middle {
        width:100%;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        bottom: 18%;
        left:50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .shopp{
        width: 100%;
    }

    .cont:hover .image {
        opacity: 0.3;
    }

    .cont:hover .middle {
        opacity: 1;
    }



</style>
