<template>
    <label class="switch">
        <input type="checkbox"
               :checked="value"
               @change.stop="toggle">
        <span class="slider"></span>
    </label>
</template>

<script>
    export default {
        data: () => ({
            toggled: !!this.value
        }),

        props: {
            value: {
                type: Boolean,
                default: false
            },
            sync: {
                type: Boolean,
                default: false
            },
        },

        watch: {
            value (value) {
                if (this.sync) {
                    this.toggled = !!value
                }
            }
        },

        methods: {
            toggle (event) {
                this.toggled = !this.toggled
                this.$emit('input', this.toggled)
                this.$emit('change', {
                    value: this.toggled,
                    srcEvent: event
                })
            }
        }
    }
</script>

<style scoped>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

</style>
