<template>
    <div class="container mb-4">
        <back-btn text="Back"></back-btn>
        <div class="row">
            <div class="col-md-6">
                <img :src="currentPhoto"
                        width="500px"
                        height="500px"
                >
                <img v-for="img in product.photos"
                     :src="img.path"
                     width="100px"
                     height="100px"
                     @click="changeCurrentPhoto(img.path)"
                >
            </div>
            <div class="col-md-6">
                <h3>{{nameToUpperCase}}</h3>
                <h3><span class="badge badge-secondary price-tag">{{product.price}} {{$settings.localization.currency}}</span></h3>

                <div class="mt-5">
                    {{product.description_short}}
                </div>

                <div class="mt-5">
                    <b-row>
                        <b-col md="2">
                            <b-form-input
                                    type="number"
                                    v-model="quantitySelected"
                                    size="lg"
                                    min="1"
                                    @change="testVal"
                            ></b-form-input>
                        </b-col>
                        <b-col md="5">
                            <b-button variant="info" size="lg" @click="addToCart">
                                <fa icon="shopping-cart" fixed-width/>
                                &nbsp;{{$t('add_to_cart')}}
                            </b-button>
                        </b-col>
                    </b-row>

                    <b-row class="mt-4">
<!--                        <fa icon="faceboook" fixed-width/>-->
                        <span>Share</span>
                        <ul>
                            <li>
                                <a target="_blank" href="http://www.facebook.com/sharer.php?u=link">
                                    FB
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.facebook.com/sharer.php?u=link">
                                    Twitter
                                </a>
                            </li>
                        </ul>
                    </b-row>

                    <b-row>
                        <ul class="list-group w-100 mt-4">
                            <li class="list-group-item  p-3">Reasurance 1</li>
                            <li class="list-group-item  p-3">Reasurance 2</li>
                            <li class="list-group-item  p-3">Reasurance 3</li>
                        </ul>
                    </b-row>

                    <b-row>
                        <b-tabs class="mt-4 bg-white p-4 w-100" content-class="p-2">
                            <b-tab title="Description" active>
                                <p>{{product.descritpion}}</p>
                            </b-tab>
                            <b-tab title="Details">
                                <p><strong>Reference</strong>: {{product.reference}}</p>
                                <p><strong>Manufacturer</strong>: TODO</p>
                            </b-tab>
                        </b-tabs>
                    </b-row>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapState } from 'vuex';
    import BackBtn from "../../../components/BackBtn";
    export default {
        components: {BackBtn},
        data: () => ({
            product: {},
            currentPhoto: null,
            quantitySelected: 1,
        }),

        computed: {
            ...mapGetters('cart', ['products']),
            ...mapState('auth', ['user']),
            nameToUpperCase (){
                if(!this.product.hasOwnProperty('name'))
                {
                    return '';
                }
                return this.product.name.toUpperCase();
            }
        },

        created()
        {

        },

        mounted(){
            this.getProduct();
        },

        methods: {
            getProduct()
            {
                let product_id = this.$route.params.id;
                let that = this;
                axios.get('/api/product/getProduct', {params: {id: product_id}})
                    .then(function(response){
                        that.product = response.data;
                        if(!response.data){
                            that.$router.push({name: 'home'})
                        }
                        if(that.product.photos){
                            that.currentPhoto = that.product.photos[0].path;
                        }
                    });
            },

            testVal(){
                if(this.quantitySelected < 1){
                    this.quantitySelected = 1;
                }
            },

            addToCart(){
                let cart = this.products;
                let user = this.user;

                this.$store.dispatch('cart/addToCart', {
                    product: this.product,
                    quantity: this.quantitySelected
                });

                // // Update db cart
                axios.post('/api/cart', {
                    cart: cart,
                    user: user
                })
                .then(response => {
                    if(response.data){
                        swal(
                            'Added to cart!',
                            '',
                            'success'
                        );
                    }
                })
                .catch(error =>{
                    console.log(error);
                })
            },

            changeCurrentPhoto(imgPath){
                this.currentPhoto = imgPath;
            },
        }
    }
</script>
