<template>
  <div class="main-layout">
    <div class="container-fluid mt-4">
      <child/>
    </div>
  </div>
</template>

<script>

export default {
  name: 'AdminLayout',

  components: {

  }
}
</script>
