<template>
    <div class="main-layout">
        <navbar/>
        <nav-menu/>
        <main>
            <div class="container mt-4">
                <child/>
            </div>
        </main>
        <footerr/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar'
    import NavMenu from '~/components/NavMenu'
    import Footerr from '~/components/Footer'
    import {mapGetters, mapState} from 'vuex';

    export default {
        name: 'MainLayout',

        components: {
            Navbar,
            NavMenu,
            Footerr
        },

        computed: {
            ...mapGetters('cart', ['products']),
            ...mapState(['auth', 'cart']),
            getSettings()
            {
                return this.$store.state.settings;
            }
        },

        mounted()
        {
            this.$store.dispatch('settings/fetchSettings');
            this.getCart();
        },

        methods: {
            getCart: function () {
                let user = this.auth.user;
                if(user){
                    axios.get('/api/cart', {
                        params: {user_id: user.id}
                    })
                        .then(response => {
                            let cart = response.data;
                            if (cart.length > 0) {
                                this.$store.dispatch('cart/setDBCart', cart);
                                this.$store.dispatch('cart/setTotalCart', cart);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
            }
        }
    }
</script>
