<template>
    <div>
        <file-upload
                folder="img/carousel"
                type="carousel"
                @uploadSuccess="addNewImage"
        ></file-upload>

        <div v-for="(carouselImage, key) in carouselImages" class="list-group-item">
            <img
                    :src="carouselImage.path"
                    width="200px"
                    height="100px"
            >
            <toggle-switch
                    :value="activatedImages[key]"
                    :sync="true"
                    @change="changeStatus(key)"
            ></toggle-switch>

            <span class="float-right">
                <button
                        class="btn btn-danger"
                        @click="deleteImage(key)"
                >
                     <fa icon="trash" fixed-width/> Delete
                </button>
            </span>
        </div>

        <b-button
                variant="success"
                @click="saveChanges"
                class="mt-4"
        >
            Save changes
        </b-button>
    </div>
</template>

<script>
    import FileUpload from '~/components/FileUpload';
    import ToggleSwitch from '~/components/ToggleSwitch';

    export default {
        components: {
            FileUpload,
            ToggleSwitch
        },

        data: () => ({
            carouselImages: null,
            activatedImages: {},
        }),

        created () {

        },

        mounted(){
            this.getImages();
        },

        methods: {
            getImages(){
                // settingsToGet = {
                //     name: 'paths',
                //     group: 'frontend_carousel'
                // };

                axios.get('/api/getFiles',{params:{file_type: 'carousel'}})
                    .then((response) => (this.carouselImages = response.data));
                // .then((response) => (console.log(response.data)));

                axios.get('/api/getSettings',{params:{name: 'paths', group: 'frontend_carousel'}})
                    .then((response) => (this.activatedImages = response.data));
            },

            setImages(){
                let img = this.activatedImages;
                axios.post('/api/setSettings',{
                    options:{
                        value: img,
                        name: 'paths',
                        group: 'frontend_carousel',
                        json: 1,
                    }
                });
            },

            addNewImage(img){
                $vue.set(this.carouselImages, img.id, img);
            },

            deleteImage(img){
                let that = this;
                axios.delete('/api/deleteImage',{
                    data:{
                        id: img
                    }
                }).then(function (response) {
                    if(response.status == 200){
                        if(response.data.error){
                            swal("There was an error!", "", "error");
                        }else{
                            $vue.delete(that.activatedImages, img);
                            $vue.delete(that.carouselImages, img);
                            swal("Deleted!", "", "success");
                        }
                    }
                });
            },

            changeStatus(key){
                this.activatedImages[key] = !this.activatedImages[key];
                this.setImages();
            },

            saveChanges(){
                try{
                    this.setImages();
                    swal("Settings saved!", "", "success");
                }catch (e) {
                    swal("There was an error!", "", "error");
                }
            }
        }
    }
</script>