<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>PERSONAL INFORMATION</h4>

            </div>
            <div class="col-md-4">
                <cart-total
                        :cart="cart"
                ></cart-total>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>ADDRESSES</h4>
                <b-form-radio-group id="radio-address" v-model="selectedAddress" name="radio-address">
                <div class="row" v-for="address in auth.user.addresses">
                    <b-card
                            :title="address.alias"
                            class="address mt-4"
                            @click="changeAddress(address.id)"
                    >
                        <b-form-radio :value="address.id"></b-form-radio>

                        <div class="row">
                            <div class="col-md-8">
                                <b-card-text>
                                    <span><strong>Name: </strong>{{address.firstname}} {{address.lastname}}</span>
                                    <span><strong>Address: </strong>{{address.address1}}</span>
                                    <span><strong>Address extra: </strong>{{address.address2}}</span>
                                    <span><strong>City: </strong>{{address.city}}, <strong>County: </strong>{{address.state}}, <strong>Country: </strong>{{address.country}}
                                    </span>
                                    <span><strong>Zip/Postal Code: </strong>{{address.zip}}</span>
                                    <span><strong>Phone: </strong>{{address.phone}}</span>
                                </b-card-text>
                            </div>
                            <div class="col-md-4">
                                <router-link :to="{ name: 'addresses.edit', params: {id:address.id}}" class="btn btn-warning" >
                                    <fa icon="edit" fixed-width/>
                                    Edit address
                                </router-link>
                            </div>
                        </div>
                    </b-card>
                </div>
                </b-form-radio-group>
            </div>
            <div class="col-md-8 mt-4">
                <h4>SHIPPING METHODS</h4>
                <b-form-radio-group id="radio-carrier" v-model="selectedCarrier" name="radio-carrier">
                    <div class="row" v-for="carrier in carriers.data">
                        <b-card
                                :title="carrier.name"
                                class="address mt-4 col-md-12"
                                @click="changeCarrier(carrier.id)"
                        >
                            <b-form-radio :value="carrier.id"></b-form-radio>

                            <div class="row">
                                <div class="col-md-8">
                                    <b-card-text>
                                        <span>{{carrier.description}} {{carrier.price}} {{$settings.localization.currency}}</span>
                                        <p>{{carrier.time}}</p>
                                    </b-card-text>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        </b-card>
                    </div>
                </b-form-radio-group>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapState } from 'vuex';
    import CartTotal from "../../../components/CartTotal";

    export default {
        components: {CartTotal},

        data: () => ({
            cartProducts: [],
            carriers: [],
            selectedAddress: null,
            selectedCarrier: null
        }),

        computed: {
            ...mapGetters('cart', ['products']),
            ...mapState(['auth', 'cart']),
            nbProducts: function () {
                return this.cart.products.length;
            },
            totalProducts: function () {
                let total = 0;
                for(let index in this.cart.products){
                    total += parseFloat(this.cart.products[index].price);
                }
                return total;
            },
            totalShipping: function(){
                return 12;
            },
        },

        created()
        {

        },

        mounted(){
            this.getCarriers();
        },

        methods: {
            getCarriers(){
                axios.get('/api/carrier', {params: {trashed: false}})
                    .then((response) => (this.carriers = response.data));
            },

            tax: function (total) {
                return (parseInt(this.$settings.localization.tax) / 100) * total;
            },

            checkout: function () {

            },
            changeAddress(id_address){
                this.selectedAddress = id_address;
            },
            changeCarrier(id_carrier){
                this.selectedCarrier = id_carrier;
            },
        }
    }
</script>
