<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <ul class="list-group ">
                    <li class="list-group-item "><h2>Shopping cart</h2></li>
                    <li v-for="(item, key) in cart.products" class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                <router-link :to="{ name: 'products.show', params: {id: item.id} }">
                                    <img
                                            :src="image(item.photos)"
                                            class="prod-thumb"
                                    >
                                </router-link>
                            </div>
                            <div class="col-md-6">
                                <h2><span>{{item.name}}</span></h2>
                                <h3>
                                    <span class="badge badge-secondary price-tag">{{item.price}} {{$settings.localization.currency}}</span>
                                </h3>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="row">
                                    <div class="col-md-5">
                                        <b-form-input
                                                type="number"
                                                v-model="item.quantity"
                                                size="sm"
                                                min="1"
                                                @change="updateQuantity(item)"
                                        ></b-form-input>
                                    </div>
                                        <button
                                                class="btn btn-danger"
                                                @click="removeAllFromCart(item)"
                                        >
                                            <fa icon="trash"></fa>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <cart-total
                        :cart="cart"
                        :showCheckoutBtn="true"
                ></cart-total>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import CartTotal from "../../../components/CartTotal";

    export default {
        components: {CartTotal},
        data: () => ({
            cartProducts: []
        }),

        computed: {
            ...mapState(['auth', 'cart']),
        },

        created()
        {

        },

        mounted()
        {

        },

        methods: {
            removeAllFromCart(product){
                axios.post('/api/remove-product', {
                    product_id: product.id,
                    user_id: this.auth.user.id
                }).then( _ => {
                    this.$store.dispatch('cart/removeFromCart', {
                        product: product,
                        quantity: product.quantity
                    });
                });
            },
            image(images)
            {
                if (images.length) {
                    return images[0].path;
                } else {
                    return this.$settings.localization.default_product_image;
                }
            },
            updateQuantity(product){
                let cart = this.cart.products;
                let user = this.auth.user;

                // // Update db cart
                axios.post('/api/cart', {
                    cart: cart,
                    user: user
                })
                    .then(response => {
                        if(response.data){
                            this.$store.dispatch('cart/updateQuantity', {
                                product: product
                            });
                        }
                    })
                    .catch(error =>{
                        console.log(error);
                    })
            }
        }
    }
</script>

<style scoped>
    .prod-thumb{
        width: 100px;
    }
</style>
