<template>
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-4">
                <h2>Your addresses</h2>
            </div>
            <div class="col-md-8">
                <router-link :to="{ name: 'addresses.new' }" class="btn btn-lg btn-primary float-right" active-class="active">
                    <fa icon="plus" fixed-width/>
                    New address
                </router-link>
            </div>
        </div>
        <div class="row" v-for="address in auth.user.addresses">
            <b-card
                    :title="address.alias"
                    class="address mt-4"
            >
                <div class="row">
                <div class="col-md-8">
                    <b-card-text>

                        <p><strong>Name: </strong>{{address.firstname}} {{address.lastname}}</p>
                        <p><strong>Address: </strong>{{address.address1}}</p>
                        <p><strong>Address extra: </strong>{{address.address2}}</p>
                        <p><strong>City: </strong>{{address.city}}, <strong>County: </strong>{{address.state}}, <strong>Country: </strong>{{address.country}}
                        </p>
                        <p><strong>Zip/Postal Code: </strong>{{address.zip}}</p>
                        <p><strong>Phone: </strong>{{address.phone}}</p>

                    </b-card-text>
                </div>
                <div class="col-md-4">
                    <router-link :to="{ name: 'addresses.edit', params: {id:address.id}}" class="btn btn-warning" >
                        <fa icon="edit" fixed-width/>
                        Edit address
                    </router-link>
                    <button
                            class="btn btn-danger"
                            @click="deleteAddress(address.id)"
                    >
                        <fa icon="trash" fixed-width/>
                        Delete address
                    </button>
                </div>
                </div>

            </b-card>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    export default {

        data: () => ({}),

        computed: {
            ...mapState(['auth']),
        },

        created()
        {

        },

        mounted()
        {

        },

        methods: {
            deleteAddress(address_id){
                let that = this;
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this address!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        axios.delete('/api/address/' + address_id)
                            .then(function(response){
                                if(response.data){
                                    swal("Address deleted!", "", "success");
                                    that.$store.dispatch('auth/fetchUserAddresses')
                                }else{
                                    swal("There was an error!", "", "error");
                                }
                            });
                    }
                });
            },
        }
    }
</script>

<style scoped>
    .address {
        width: 100%;
    }
</style>
