<template>
    <div>
        <router-link :to="{ name: 'addresses.list' }" class="btn btn-primary" active-class="active">
            <fa icon="arrow-left" fixed-width/>
            Back
        </router-link>

        <form @submit.prevent="saveAddress" @keydown="form.onKeydown($event)">
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('firstname') }}</label>
                <div class="col-md-7">
                    <input v-model="form.firstname" :class="{ 'is-invalid': form.errors.has('firstname') }" class="form-control" type="text" name="firstname">
                    <has-error :form="form" field="firstname"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('lastname') }}</label>
                <div class="col-md-7">
                    <input v-model="form.lastname" :class="{ 'is-invalid': form.errors.has('lastname') }" class="form-control" type="text" name="lastname">
                    <has-error :form="form" field="lastname"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('address1') }}</label>
                <div class="col-md-7">
                    <input v-model="form.address1" :class="{ 'is-invalid': form.errors.has('address1') }" class="form-control" type="text" name="address1">
                    <has-error :form="form" field="address1"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('address2') }}</label>
                <div class="col-md-7">
                    <input v-model="form.address2" :class="{ 'is-invalid': form.errors.has('address2') }" class="form-control" type="text" name="address2">
                    <has-error :form="form" field="address2"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('company') }}</label>
                <div class="col-md-7">
                    <input v-model="form.company" :class="{ 'is-invalid': form.errors.has('company') }" class="form-control" type="text" name="company">
                    <has-error :form="form" field="company"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('country') }}</label>
                <div class="col-md-7">
                    <b-form-select v-model="form.country" :options="optionsCountry" name="country"></b-form-select>
                    <has-error :form="form" field="country"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('state') }}</label>
                <div class="col-md-7">
                    <b-form-select v-model="form.state" :options="optionsState" name="state"></b-form-select>
                    <has-error :form="form" field="state"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('city') }}</label>
                <div class="col-md-7">
                    <input v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }" class="form-control" type="text" name="city">
                    <has-error :form="form" field="city"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('zip') }}</label>
                <div class="col-md-7">
                    <input v-model="form.zip" :class="{ 'is-invalid': form.errors.has('zip') }" class="form-control" type="text" name="zip">
                    <has-error :form="form" field="zip"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
                <div class="col-md-7">
                    <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text" name="phone">
                    <has-error :form="form" field="phone"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('alias') }}</label>
                <div class="col-md-7">
                    <input v-model="form.alias" :class="{ 'is-invalid': form.errors.has('alias') }" class="form-control" type="text" name="alias">
                    <has-error :form="form" field="phone"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-7 offset-md-3 d-flex">
                    <!-- Submit Button -->
                    <v-button :loading="form.busy">
                        {{ $t('save_address') }}
                    </v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Form from 'vform';
    import { mapGetters, mapState } from 'vuex';

    export default {
        computed: {
            ...mapState(['auth']),
        },

        data: () => ({
            form: new Form({
                firstname: '',
                lastname: '',
                address1: '',
                address2: '',
                company: '',
                country: [],
                city: '',
                state: [],
                zip: '',
                phone: '',
                alias: '',
                id_customer: 0
            }),
            optionsState: [],
            optionsCountry: [],
        }),

        mounted(){

        },

        methods: {
            async saveAddress () {
                // Submit the form to save product.
                let user = this.auth.user;
                this.form.id_customer = user.id;

                let data = await this.form.post('/api/address')
                let that = this;

                if(data.status == 200){
                    if(data.data){
                        swal("Address saved!", "", "success").then(function () {
                            // Redirect home.
                            that.$store.dispatch('auth/fetchUserAddresses')
                            that.$router.push({ name: 'addresses.list' })
                        });
                    }else{
                        swal("There was an error!", "", "error");
                    }
                }
            }
        }
    }
</script>
