<template>
    <div class="container">
        <b-carousel
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                img-width="1024"
                img-height="480"
        >
            <b-carousel-slide
                    v-for="slide in carouselSettings.slides" :key="slide.id"
                    :img-src="slide.imgSrc"
            />
        </b-carousel>

        <h4 class="pt-4">Featured products</h4>
        <div class="mt-4 text-center">
            <product-card
                    v-for="product in featuredProducts"
                    :key="product.id"
                    :product="product"
            >
            </product-card>
        </div>
    </div>
</template>

<script>
    import ProductCard from "../components/ProductCard";
    export default {
        components: {ProductCard},
        mounted()
        {
            this.getCarouselImages();
            this.getFeaturedProducts();
        },

        data: () => ({
            carouselSettings: {
                perPage: 1,
                autoplay: true,
                slides: []
            },
            activatedImages: [],
            featuredProducts: []
        }),

        metaInfo()
        {
            return {title: this.$t('home')}
        },

        methods: {
            getCarouselImages()
            {
                let that = this;
                axios.get('/api/getEnabledImages', {params: {name: 'paths', group: 'frontend_carousel'}})
                    .then(function (response) {
                        let images = response.data;
                        images.forEach(function (image) {
                            let obj = {
                                id: image.id,
                                imgSrc: image.path
                            };
                            that.carouselSettings.slides.push(obj);
                        });
                    });
            },
            getFeaturedProducts()
            {
                let that = this;
                axios.get('/api/getFeaturedProducts')
                    .then(function (response) {
                       that.featuredProducts = response.data;
                    });
            }

        }
    }
</script>