<template>
    <card :title="$t('settings')">
        <form @submit.prevent="saveSettings" @keydown="form.onKeydown($event)">
            <div class="form-group row">
                <label class="col-md-1 col-form-label text-md-right">{{ $t('shop_name') }}</label>
                <div class="col-md-2">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                           class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-1 col-form-label text-md-right">{{ $t('currency') }}</label>
                <div class="col-md-2">
                    <input v-model="form.currency" :class="{ 'is-invalid': form.errors.has('currency') }"
                           class="form-control" type="text" name="currency">
                    <has-error :form="form" field="currency"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-1 col-form-label text-md-right">{{ $t('tax') }}</label>
                <div class="col-md-2">
                    <input v-model="form.tax" :class="{ 'is-invalid': form.errors.has('tax') }"
                           class="form-control" type="text" name="tax">
                    <has-error :form="form" field="tax"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-1 col-form-label text-md-right">{{ $t('default_product_image') }}</label>
                <div class="col-md-2">
                    <input v-model="form.default_product_image" :class="{ 'is-invalid': form.errors.has('default_product_image') }"
                           class="form-control" type="text" name="default_product_image">
                    <has-error :form="form" field="tax"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-7 d-flex">
                    <!-- Submit Button -->
                    <v-button :loading="form.busy">
                        {{ $t('save_settings') }}
                    </v-button>
                </div>
            </div>
        </form>
    </card>
</template>

<script>
    import {Form} from 'vform';

    export default {

        data() {
            return {
                form: new Form({
                    name: '',
                    currency: '',
                    tax: 0,
                    default_product_image: ''
                }),
            }
        },

        mounted()
        {
            this.getSettings();
        },

        methods: {
            getSettings()
            {
                let that = this;
                axios.get('/api/getSettings', {params:{name: 'localization', group: 'frontend_settings'}})
                    .then(function (response) {
                        let data = response.data;
                        that.form.name = data.name;
                        that.form.currency = data.currency;
                        that.form.tax = data.tax;
                        that.form.default_product_image = data.default_product_image;
                    });
            },

            async saveSettings()
            {
                // Submit the form to save product.
                let data = await this.form.post('/api/saveSettingsAdmin')

                if (data.status == 200) {
                    if (data.data) {
                        swal({
                            text:"Settings saved!",
                            buttons: false,
                            icon:"success",
                            timer:1000
                        });
                    } else {
                        swal("There was an error!", "", "error");
                    }
                }
            },
        }
    }
</script>
