<template>
    <div class="row">
        <div class="col-md-2">
            <card :title="$t('administration panel')" class="settings-card">
                <router-link :to="{ name: 'home' }" class="nav-link" active-class="active">
                    <fa icon="eye" fixed-width/>
                    {{ $t('view_shop') }}
                </router-link>

                <ul v-for="group in groups" class="nav flex-column nav-pills">
                    <card :title="group.title" class="settings-card">
                        <li v-for="tab in group.tabs" :key="tab.route" class="nav-item">
                            <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                                <fa :icon="tab.icon" fixed-width/>
                                {{ tab.name }}
                            </router-link>
                        </li>
                    </card>
                </ul>

                <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                    <fa icon="sign-out-alt" fixed-width/>
                    {{ $t('logout') }}
                </a>
            </card>
        </div>

        <div class="col-md-10">
            <transition name="fade" mode="out-in">
                <router-view/>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {
        middleware: 'admin',

        computed: {
            groups()
            {
                return [
                    {
                        tabs:[
                            {
                                icon: 'tachometer-alt',
                                name: this.$t('dashboard'),
                                route: 'admin.dashboard'
                            },
                        ]
                    },
                    {
                        title: this.$t('sell'),
                        tabs: [
                            {
                                icon: 'user',
                                name: this.$t('customers'),
                                route: 'admin.customers'
                            },
                            {
                                icon: 'address-book',
                                name: this.$t('addresses'),
                                route: 'admin.addresses.list'
                            },
                            {
                                icon: 'folder-open',
                                name: this.$t('categories'),
                                route: 'admin.categories.list'
                            },
                            {
                                icon: 'cubes',
                                name: this.$t('products'),
                                route: 'admin.products.list'
                            }
                        ]
                    },
                    {
                        title: this.$t('improve'),
                        tabs: [
                            {
                                icon: 'pen-nib',
                                name: this.$t('design'),
                                route: 'admin.design'
                            }
                        ]
                    },
                    {
                        title: this.$t('configure'),
                        tabs: [
                            {
                                icon: 'truck',
                                name: this.$t('carriers'),
                                route: 'admin.carriers.list'
                            },
                            {
                                icon: 'cogs',
                                name: this.$t('settings'),
                                route: 'admin.settings'
                            },
                        ]
                    }
                ];
            }
        },

        methods: {
            async logout()
            {
                // Log out the user.
                await this.$store.dispatch('auth/logout')

                // Redirect to login.
                this.$router.push({name: 'login'})
            },
        }
    }
</script>

<style>
    .settings-card .card-body {
        padding: 0;
    }
</style>
