<template>
    <div>
        <router-link :to="{ name: 'admin.categories.new' }" class="btn btn-primary" active-class="active">
            <fa icon="plus" fixed-width/>
            New Category
        </router-link>

        <v-server-table :url="url" :columns="columns" :options="options"></v-server-table>
    </div>
</template>

<script>

    export default {

        data: () => ({
            columns: ['id', 'name', 'id_parent'],
            options: {
                // see the options API
                orderBy: { ascending:false },
                filterByColumn: true,

            }
        }),

        created()
        {

        },

        computed: {
            url()
            {
                return '/api/categories';
            }
        },

        methods: {}
    }
</script>
