<template>
    <div>
        <router-link :to="{ name: 'admin.categories.list' }" class="btn btn-primary" active-class="active">
            <fa icon="arrow-left" fixed-width/>
            Back
        </router-link>

        <form @submit.prevent="saveCategory" @keydown="form.onKeydown($event)">
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('category_name') }}</label>
                <div class="col-md-7">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('root_category') }}</label>
                <div class="col-md-7">
                    <toggle-switch
                            :value="isRoot"
                            :sync="true"
                            @change="changeRootStatus"
                    ></toggle-switch>
                </div>
            </div>

            <div class="form-group row" v-if="!isRoot">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('product_category') }}</label>
                <div class="col-md-7">
                    <treeselect v-model="form.id_parent" :options="optionsCategories" name="id_parent"/>
                    <has-error :form="form" field="id_parent"/>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-7 offset-md-3 d-flex">
                    <!-- Submit Button -->
                    <v-button :loading="form.busy">
                        {{ $t('save_category') }}
                    </v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Form from 'vform'
    import Treeselect from '@riophae/vue-treeselect'
    import ToggleSwitch from '~/components/ToggleSwitch';

    import '@riophae/vue-treeselect/dist/vue-treeselect.css'


    export default {
        components: {
            Treeselect,
            ToggleSwitch,
        },

        async mounted(){
           await this.getCategories();
           this.form.id_parent = this.optionsCategories[0].id;
        },

        data: () => ({
            form: new Form({
                name: '',
                id_parent: 0
            }),
            isRoot: false,
            optionsCategories:[],
        }),

        methods: {
            async saveCategory () {
                // Submit the form to save product.
                let data = await this.form.post('/api/categories');
                let that = this;

                if(data.status == 200){
                    if(data.data){
                        swal("Category saved!", "", "success").then(function () {
                            // Redirect home.
                            that.$router.push({ name: 'admin.categories.list' })
                        });
                    }else{
                        swal("There was an error!", "", "error");
                    }
                }
            },

            async getCategories(){
                let categories = [];
                await axios.get('/api/categories')
                    .then((response) => (categories = response.data.data));

                for(let cat in categories){
                    let opt = {};
                    opt.label = categories[cat].name;
                    opt.id = categories[cat].id;
                    this.optionsCategories.push(opt);
                }
            },

            changeRootStatus(){
                if(!this.isRoot){
                    this.form.id_parent = 0;
                }
                this.isRoot = !this.isRoot;
            }
        }
    }
</script>
